.table-hover tbody tr:hover {
    background-color: #d4edff;
}
.modal-user {
    // color: rgb(171, 254, 255);
    // background-color: aqua;
    .mark-important {
        color: red;        

    }
}

.manage-users-container {
    i {
        padding-right: 7px;
    }

    .actions {
        .refresh {
            margin-right: 7px;
        }
    }
}

button {
    .delete {
        
    }
}